# Magento
/generated/*
!/generated/code/Magento/Framework/
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/registration_globlist.php
/bin/.htaccess

# Ignore dirs but keep .htaccess
/var/*
/var/.htaccess
/pub/*
/pub/media/*
/pub/static/*
/pub/errors
/pub/.user.ini
/pub/.htaccess
!/pub/media/.htaccess
/pub/sitemap/*
/node_modules
/app/etc/env.php
/app/etc/config.php

/vendor/

# IDE/System
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs/Backups/Zips
*.log
*.zip
*.csv  # Data dumps
cma.js
facebook-for-magento2/
geidea.zip
citiesimport.csv
google8b1ef0a543ffceb2.html
robots.txt
favicon.ico
error_log
COPYING.txt
composer.json.bad.*
composer.json.bak
auth.json*
yarn.lock
.editorconfig
.htaccess
.php-cs-fixer.dist.php
.user.ini
dev/*
post-checkout
