<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <!-- Tab -->
        <tab id="ignitix" translate="label" sortOrder="900">
            <label>Ignitix</label>
        </tab>

        <!-- Section -->
        <section id="ignitix_product_message"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Product Message</label>
            <tab>ignitix</tab>
            <resource>Ignitix_ProductMessage::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="message" translate="label"
                       type="textarea"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Message Text</label>
                    <comment>Shown above the Add to Cart form. Enter per Store View for translations.</comment>
                </field>

                <field id="enabled" translate="label"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>