<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Use our TransportBuilder in this module's scope -->
    <preference for="Magento\Framework\Mail\Template\TransportBuilder"
                type="Ignitix\QuoteRequest\Model\Mail\Template\TransportBuilder"/>
</config>